{{ define "title" }}{{ .Title }} - {{ $.Site.Title }}{{ end }}
{{ define "meta_description" }}{{ i18n "function_description" .Page }}{{ end }}
{{ define "meta_keywords" }}{{ i18n "function_keywords" .Page }}{{ end }}

{{ define "main" }}

{{ .Content }}

<strong>Functions of the {{ .Title }} module:</strong>

<ul class="function-list">
{{ range .Pages }}
    <li class="function-item{{ if .Draft }} draft{{ end }}"><a href="{{ partial "safe_function_url.html" . }}">{{ .Title }}</a></li>
{{ end }}
</ul>

{{ partial "translations.html" . }}
{{ end }}
