{{ define "title" }}{{ printf "%s.%s" .Parent.Title .Title }} - {{ $.Site.Title }}{{ end }}
{{ define "meta_description" }}{{ i18n "function_description" .Page }}{{ end }}
{{ define "meta_keywords" }}{{ i18n "function_keywords" .Page }}{{ end }}

{{ define "main" }}
{{ $module := .Parent.Title }}
{{ $function := .Title }}

<main class="function">
    <nav class="breadcrumbs">
        {{ with .Parent }}<a href="{{ .Permalink }}">{{ .Title }}</a>{{ end }} / 
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </nav>

    <h1><a href="https://hexdocs.pm/elixir/{{ .Parent.Title }}.html#{{ .Title }}">{{ .Parent.Title }}.{{ .Title }}</a></h1>


    {{- range $.Site.Data.signatures -}}
        {{- if eq $module .name -}}
            {{- range .functions -}}
                {{- if eq $function .name -}}
    <div class="signature">
        {{- highlight .signature "elixir" "" -}}
    </div>
                {{- end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{ .Content }}
    <nav class="prev-next">
        {{ with .NextInSection }}<a class="prev-next__prev" href="{{ .Permalink }}">← {{ .Title }}</a>{{ end }}
        {{ with .PrevInSection }}<a class="prev-next__next"  href="{{ .Permalink }}">{{ .Title }} →</a>{{ end }}
    </nav>
</main>
{{ partial "translations.html" . }}
{{ end }}
