{{ define "title" }}{{ $.Site.Title }}{{ end }}
{{ define "meta_description" }}{{ i18n "home_description" }}{{ end }}
{{ define "meta_keywords" }}{{ i18n "home_keywords" }}{{ end }}

{{ define "partials/safe" }}
    {{ $scratch := newScratch }}
    {{ $scratch.Set "url" .Permalink }}
    {{ $alias := index .Aliases 0 }}
    {{ if $alias }}
        {{ $url := replace $alias "?" "%3F" }}
        {{ $scratch.Set "url" (printf "%s%s" $.Site.BaseURL (strings.TrimLeft "/" $url)) }}
    {{ end }}
    {{ return $scratch.Get "url" }}
{{ end }}

{{ define "main" }}

    {{ .Content }}

    {{ $modules := ($.Site.GetPage "/functions").Pages }}
    {{ range $modules }}
        {{ $functions := .RegularPages }}
        {{ if len $functions | lt 0 }}
<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
<ul class="function-list">
            {{ range .RegularPages }}
    <li class="function-item{{ if .Draft }} draft{{ end }}"><a href="{{ partial "safe" . }}">{{ .Title }}</a></li>
            {{ end }}
</ul>
        {{ end }}
    {{ end }}
{{ end }}
