{{ define "title" }}{{ $.Site.Title }}{{ end }}
{{ define "meta_description" }}{{ i18n "home_description" }}{{ end }}
{{ define "meta_keywords" }}{{ i18n "home_keywords" }}{{ end }}

{{ define "main" }}
    {{ .Content }}

    {{ $modules := ($.Site.GetPage "/functions").Pages }}
    {{ range $modules }}
        {{ $functions := .RegularPages }}
        {{ if len $functions | lt 0 }}
<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
<ul class="function-list">
            {{ range .RegularPages }}
    <li class="function-item{{ if .Draft }} draft{{ end }}"><a href="{{ partial "safe_function_url.html" . }}">{{ .Title }}</a></li>
            {{ end }}
</ul>
        {{ end }}
    {{ end }}
{{ end }}
